$color-black: black;
$color-red: rgba(235, 8, 8, 0.678);
$color-green: rgba(0, 128, 0, 0.80);
$color-gray: rgb(204, 202, 202);
$color-white: white;
$color-white-rgba: rgba(152, 62, 62, 0.32);
$color-footer: #f3f3f3e8;
* {
    outline: none;
}
a {
    color: $color-black;
}
a:hover {
    color: $color-black;
    text-decoration: none;
}
.row {
    margin: 0px !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
@import 'header';
@import 'home';

#footer {
    background: $color-footer;
    min-height: 200px;
    margin-top: 20px;
    padding: 15px;
    .logo-footer {
        img {
            max-width: 100px;
        }
    }
    .company {
        .com-name {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }
    .footer-list {
        margin-top: 15px;
        .footer-title {
            padding: 0px;
            margin-left: -15px;
            font-size: 20px;
            color: $color-red;
        }
        .footer-menu {
            list-style: none;
            margin-left: -55px;
        }
    }
}